body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    color: black;
}

a:active {
    color: #8e8e8e;
}

a {
    color: #8e8e8e;
}

.appContainer {
    overflow: hidden;
}

nav {
    background-color: #efefef;
    width: 100%;
    line-height: 50px;
}

.container {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.container h3 {
    font-size: 25px;
}

nav span {
    background-color: transparent;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    text-align: center;
    margin-left: 20px;
}

.portfolioBlockText h3 {
    color: #4a4a4a;
    margin: 0;
}

nav span.link {
    color: #5a5a5a;
    text-align: left;
    padding: 0 60px 0 15px;
    width: auto;
    cursor: pointer;
}

nav span.navLinkGrey:hover {
    background-color: #e3e3e3;
}

.projectButton {
    background-color: #ff7575;
    height: 50px;
    line-height: 50px;
    color: white;
    margin: 5px auto;
    font-size: 22px;
    text-decoration: none;
    cursor: pointer;
    width: 80%;
}

.projectButton:hover {
    background-color: #ff5858;
}

a.projectButtonLink {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 300px;
}

.cursorFollower {
    width: 0;
    height: 0;
    background-color: #efefef;
    position: fixed;
    overflow: hidden;
    border-radius: 100%;
    pointer-events: none;
}

.portfolioBlock {
    text-align: left;
}

.portfolioBlock td {
    padding: 10px;
}

.portfolioBlockImage img {
    width: 150px;
}

.portfolioBlockTechs span {
    background-color: #ff7575;
    border-radius: 5px;
    margin: 3px;
    padding: 2px 5px;
    color: white;
}

.portfolioBlockSeperator {
    height: 60px;
}

@media only screen and (max-width: 800px) {

    .container {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }

    td.portfolioBlockImage {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    nav span.link {
        display: block;
        height: auto;
        margin-left: 0px;
    }


}