body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    overflow:hidden;
}

nav {
    background-color: #efefef;
    width: 100%;
    line-height: 50px;
}

nav span {
    background-color: transparent;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    text-align: center;
}

nav span.link {
    color: #5a5a5a;
    text-align:left;
    padding: 0 60px 0 15px;
    width: auto;
    cursor: pointer;

}

nav span.link:hover {
    background-color:#d6f7a2;
}

.projectButton {
    background-color:#ff7575;
    height: 50px;
    line-height: 50px;
    color:white;
    margin:5px auto;
    font-size:22px;
    text-decoration: none;
}


.projectButton:hover {
    background-color:#ff5858;
}

a.projectButtonLink {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 300px;
}

.homeContainer {
    text-align:center;
    width: 800px;
    margin:0 auto;
}

.homeContainer h3 {
    font-size:25px;
}

.cursorFollower{
    width: 0px;
    height: 0px;
    background-color: #efefef;
    position: absolute;
    overflow: hidden;
    border-radius:100%;
    pointer-events: none;
}