body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    overflow: hidden;
}

nav {
    background-color: #efefef;
    width: 100%;
    line-height: 50px;
    padding-left:20px;
}

nav span {
    background-color: transparent;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    text-align: center;
}

nav span.link {
    color: #5a5a5a;
    text-align: left;
    padding: 0 60px 0 15px;
    width: auto;
    cursor: pointer;
}

nav span.navLinkGrey:hover {
    background-color: #e3e3e3;
}

.projectButton {
    background-color: #ff7575;
    height: 50px;
    line-height: 50px;
    color: white;
    margin: 5px auto;
    font-size: 22px;
    text-decoration: none;
    cursor:pointer;
    width:80%;
}

.projectButton:hover {
    background-color: #ff5858;
}

a.projectButtonLink {
    display: inline-block;
    color: white;
    text-decoration: none;
    width: 300px;
}

.container {
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.container h3 {
    font-size: 25px;
}

.cursorFollower {
    width: 0;
    height: 0;
    background-color: #efefef;
    position: absolute;
    overflow: hidden;
    border-radius: 100%;
    pointer-events: none;
}

.portfolioBlock{
    padding: 20px;
    text-align:left;
    #background-color: #efefef;
    #box-shadow: 1px 1px 1px #b5b5b5;
}

.portfolioBlockImage{
    display: inline-block;
}

.portfolioBlockImage img{
    width: 230px;
}

p{
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 800px) {

    .container {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

}

@media only screen and (max-width: 600px) {
    nav span.link{
        display: block;
        height:auto;
    }

    nav {
        padding-left:0;
    }
}